<body >

  
  <button id="openSidebar" (click)="toggleSidebar('open')">☰ Plan</button>

  <div #sidebar id="sidebar" class="sidebar">
    <button id="closeSidebar" class="close-btn" (click)="toggleSidebar('close')">X</button>
    <ul>
      <br><br>
      <li><a  routerLink="/candidat">Introduction</a></li>
      <li><a routerLink="/candidatsarchives">Présentation de l'entreprise</a></li>
      <li><a routerLink="/candidature">Problèmatique</a></li>
      <li><a routerLink="/competencecandidat">Etude de l'existant</a></li>
      <li><a routerLink="/objectif">Objectives</a></li>
      <li><a routerLink="/creationMission">Solution proposée</a></li>
      <li><a routerLink="/dashboard_ing_archives">Méthodologie adapté</a></li>
      <li><a routerLink="/cv">Architecture</a></li>
      <li><a routerLink="/cvadmin">Analyse et spécification des besoins</a></li>
      <li><a routerLink="/dashboard_ing">Environnement du travail</a></li>
      <li><a routerLink="/reclamationadmin">Partie Devops</a></li>
      <li><a routerLink="/reclamationarchivesadmin">Réalisation</a></li>
      <li><a routerLink="/welcomepageingenieur">Conclusion</a></li>
    </ul>
  </div>
  
  <div class="container-fluid">
    <div class="row">
      

      <div class="centered-title">
          <div class="custom-divider"></div>
          <img src="/assets/qa-image.png" alt="Logo FindMe" class="logo">
          <h1> Merci pour votre attention !</h1>
          
       
          <div class="custom-divider"></div>
     
      </div>
    
      
    </div>
  </div>
  <footer class="page-footer" >
    <a href="page1.html" class="arrow-left" routerLink="/welcomepageingenieur"><i class="fas fa-arrow-left"></i> </a>
    Page 19
    

  </footer>
  
  
</body>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
